<h1 class="animated fadeIn fast">
  Acerca de las aps SPA y realizando unas pruebas temporales
</h1>

<div>
  <p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut illo quae
    deserunt doloremque placeat nemo expedita asperiores cumque dolorem! Optio
    nisi voluptatem neque inventore ducimus quae voluptatibus cupiditate ad
    sapiente.
  </p>
</div>
<hr />
<div>
  <h5 class="animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem sunt quae
    beatae nostrum ab ad magnam, numquam nulla expedita cum molestias ipsum,
    aspernatur dicta sint doloremque ex laboriosam excepturi officia.
  </h5>
</div>
